
.Q1 h1{
    margin-bottom: 100px;
}
.container{
    text-align: center;
    height: auto;
    width: auto;
    margin: 100px;
}
.container h1{
    margin-bottom: 75px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: lightskyblue;
    background-color: black;
    font-stretch: ultra-expanded;
    font-size: 500%;

}
body{
    background-image: url(../images/disneyBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container h4{
    margin-bottom: 25px;
}
.container img{
    height: 200px;
    width: 300px;
    margin: 20px;
}
.correctAnswer{
    color: lightseagreen;
    font-size: 200%;
}
button#startButton{
    margin: 100px;
    padding: 25px;
}
div.correctAnswer{
    size:200%;
    color: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}